/*  GERAL
******************/
html, body{
    height: 100%;
    margin: 0;
    font-family: Heveltica, Arial, sans-serif;
    background-color: #161616;
    color: white;
}

.section-background{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.section-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.65);
}

.section-title{
    text-align: center;
    font-size: 30px;
}

.section-text{
    padding: 30px;
    margin: 0;
    font-size: 20px;
    background-color: rgba(0,0,0,0.7);
}

.ancora{
    position: absolute;
    top: -85px;
}


/*  HEADER
******************/
.main-header{
    position: relative;
}

.header-video{
    width: 100%;
}

#nossoespaco{
    width: 100%;
    height: 100px;
    vertical-align: middle;
    
    background-color: black;
    color: white;
}
#nossoespaco h1{
   line-height: 100px;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3b3b3b;
    z-index: 100;
}

.navigation-list{
    padding: 0;
}

.navigation-list-item{
    display: inline-block;
    padding: 15px;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-link:hover{
    color: #0079d0;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 20%;
}


/*  O LUGAR
******************/
.lugar{
    background-image: url('./imagens/barbearia.png');
}



/*  NOSSOS ESPAÇOS
******************/
.espacokids{
    background-image: url('./imagens/epacokids.jpg');

}


.espaco-image{
    width: 50%;
    height: 400px;
    

    float: left;
    
}


/*  FOOTER
******************/
.main-footer{
    position: relative;
    padding: 60px;
}

.footer-section{
    display: inline-block;
    width:30%;
    min-width: 1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    00px;
    vertical-align: top;
    
}